/*---------- geral ---------*/
* {
    margin: 0;
    padding: 0;
}
 
ul,
li{
    list-style: none;
}

body {
    max-width: 1370px;
    min-width: 500px;
    font-family: 'Times New Roman', Times, serif;

}


header {

    background: url(../imagens/fundo.png) #294C71;
    background-repeat: repeat-x;


}

a {
    text-decoration: none;
}

h3 {
    font-weight: 700;
    color: #fff;
    background: #294C71;
    padding: 5px;
    margin-bottom: 5px;
}


/* -------- cabecalho -------------*/

#cabecalho {
    max-width: 900px;
    height: 230px;
    margin: 0 auto;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;


}

#cabecalho figure {
    margin: 0;
}

#logo {
    float: left;
    padding-top: 20px;

}

#header_menu {
    margin-top: 25px;
    display: flex;
    float: left;
    z-index: 2;
}

#header_menu li {

    background: rgb(146, 26, 26);

}

#header_menu li a {
    display: block;
    background: url(../imagens/divisor.png) no-repeat left center;
    padding: 12px 23px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;

}

#header_menu li.index a {
    background-image: none;
}

#header_menu li:hover,
#header_menu li a:hover {
    color: rgb(85, 18, 18);
}

#header_menu li.selecionado {
    background: rgb(226, 61, 61);

}



/* ------------ corpo ----------- */
main {

    margin: 10px auto;
    max-width: 900px;

}

#principal {
    float: left;
    display: grid;
    grid-template-columns: repeat(2, 335px);
}

#principal_brasil{
    float: left;
}

#princ_lat {
    float: left;
    width: 200px;
}

#entre_link {
    background: url(../imagens/fundo-caixa.png);
    padding: 5px;
    height: 355px;
}
/* ---------- lateral ---------------*/
#entre_link ul {
    background: #FFF;
    margin-bottom: 5px;
}

#entre_link ul li {
    padding: 10px;
}

#entre_link ul li a {
    color: #000;
    display: block;
}
#entre_link ul li:hover{
    background: rgb(245, 241, 241);
}
#entre_link ul li:hover a{
    background: url(../imagens/marcador.png) no-repeat left center rgb(245, 241, 241);
    color: rgb(173, 173, 173);
    padding-left: 20px;
}

#news_link{
    margin-top: 10px;
    padding: 5px;
    background: url(../imagens/fundo-caixa.png);

}

#news_link form{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

#news_link form #botao{
    padding: 8px 25px;
    background: rgb(146, 26, 26);
    color: #fff;
    margin-top: 10px;
    text-transform: uppercase;

}

/*------------principal ----------------*/

#destaque,
#entrevista{
    height: 355px;
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 5px;
    background: url(../imagens/fundo-caixa.png);
}

#destaque_brasil{
    
    height: 450px;
    margin-bottom: 10px;
    padding: 3px;
    background: url(../imagens/fundo-caixa.png);
}

#destaque_brasil{
    margin: 0 auto;
    height: 450px;
    margin-bottom: 10px;
    padding: 3px;
    background: url(../imagens/fundo-caixa.png);
}

#mundo,
#noticias{
    height: 255px;
    margin: 5px 0 5px 15px;
    padding: 5px;
    background: url(../imagens/fundo-caixa.png);

}

.artigo{
    background: #fff;
   
}

.artigo h4{
    display: inline-block;
    background: rgb(146, 26, 26);
    color: #fff;
    padding: 5px;
}

.princ_imagens{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 310px;
}
.princ_brasil_imagens{
    margin-top: 5px;
    margin-bottom: 5px;
  
    
}

.artigo a{
    color: rgb(146, 26, 26);
}

.princ_tres{
    margin: 5px;
    background: #FFF;
}


.prin_baixo{
    display: flex;
}
.princ_tres ul li{
    padding: 5px 7px;
}
.princ_tres ul li:hover{
    background: #ccc;
}
.direita{
    margin-left: 10px;
}

.direita p{
    color: #000;
    padding-top: 2px;
}



/*----------- rodape -------------*/

footer {

    background: #294C71;
    height: 50px;
    text-align: center;

}

footer small {
    display: block;
    padding-top: 15px;
}